node_modules
dist
.git
.vercel
*.log

backend/.venv
backend/venv
backend/__pycache__
backend/**/__pycache__
backend/data
backend/sample_ifc
backend/uploads
backend/out
backend/out_*
backend/**/*.dwg
backend/**/*.ifc
backend/**/*.pt
backend/**/*.zip
